h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700 !important;
  color: var(--md-default-fg-color--light);
}

h2 {
  margin-top: 2.2em;
  padding-bottom: 0.3em;
  border-bottom: 0.02em solid #999;
}

/* header logの余白調整 */
.md-header__title {
  margin-left: 0 !important;
}

/* navigation footerを非表示にする */
.md-footer__inner.md-grid {
  display: none;
}

article.md-content__inner {
  padding-bottom: 40px;
}

/* ナビの行高を少し広げる */
.md-nav__link .md-ellipsis,
.md-nav__item .md-ellipsis {
  line-height: 1.45; /* 1.35〜1.5 の範囲で調整 */
}
