img {
    border-color: lightgray;
    border-style: solid;
    border-width: 1pt;
}

.wy-nav-content {
    max-width: none;
}

table.odeilly-table td, th {
    border-color: lightgray;
    border-style: solid;
    border-width: 1pt;
}
